@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:wght@100;400;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:wght@100;400;900&family=Ubuntu:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Times New Roman", Times, serif;
}

html {
  display: flex;
  margin-left: 100px;
  margin-right: 100px;
  flex-direction: column;
}

body {
  background-color: beige;
}

/*------------------HEADER-------------------*/

header {
  padding: 40px;
  background-image: url(/img/Nimagen-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

header h1 {
  color: antiquewhite;
  text-align: center;
  font-family: "Bebas Neue", "Times New Roman", Times, serif;
  font-size: 50px;
}

.fa-coins {
  font-size: 50px;
  padding-right: 15px;
  color: #ffd83c;
}

div.contenedor {
  display: flex;
  min-height: 65.3vh;
}

/*-----------------SIDE BAR----------------*/
.side-bar {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: #c7e0ff;
  width: 80px;
  padding: 15px;
  margin: 0px 0 15px 0;
  border-radius: 10px;
  flex-grow: 1;
}

.side-bar-links {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border-radius: 10px;
  background-color: #4490d1;
  height: auto;
  padding: 10px;
}

.side-bar-links ul {
  width: 100%;
}

.side-bar-links ul li {
  margin: 10px 5px;
  padding: 5px 10px;
  background-color: #65b6fc;
  border-radius: 50px;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.side-bar-links ul li:hover {
  background-color: #40a0f5;
}

.side-bar-links ul li:active {
  background-color: #2778bf;
}

.side-bar-links ul li a {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  margin: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.side-bar-links ul li:first-child {
  display: inline-block;
  background-color: #ffffff77;
  margin-bottom: 0;
}

.side-bar-links ul li:first-child:hover {
  width: auto;
  background-color: #82c5ff;
}

.side-bar-links ul li:first-child:active {
  width: auto;
  background-color: #2778bf;
}

.fa-house {
  color: #ffd83c;
}

.fa-house,
.fa-folder,
.fa-file,
.fa-address-book {
  padding-right: 15px;
  font-size: 20px;
}

.comentarios {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.comentario {
  justify-content: center;
  align-items: center;
  min-height: 250px;
  padding: 20px;
  margin: 10px 0;
  border: 2px solid #4490d1;
  border-radius: 30px;
  background-color: #e3f2ff;
}

.texto {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.texto h3 {
  color: #2778bf;
}

.user-icon {
  width: 100px;
  border-radius: 50%;
}

/*------- MAIN --------*/

.migas_de_pan {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  height: 15px;
}

.volverInicio {
  color: #2778bf;
  text-decoration: underline;
}

main {
  background-color: #c7e0ff;
  width: 80px;
  padding: 35px;
  margin: 15px 0px 15px 15px;
  border-radius: 10px;
  flex-grow: 3;
  order: 1;
}

.pizzarra {
  display: grid;
  background-color: white;
  border-radius: 30px;
  border: 1px solid #2778bf;
  padding: 20px;
  font-size: 15px;
  grid-template-areas:
    "h1"
    "selector"
    "datosActualizados"
    "cotizaciones"
    "recordatorio"
    "biblio";
}
.pizzarra h1 {
  grid-area: h1;
  text-align: center;
  padding-bottom: 5px;
}

.selector {
  grid-area: selector;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 60%;
  background-color: #f3f3f3;
  border: 1px solid #dfdfdf;
  border-radius: 10px;
  padding: 10px;
}

.selector label {
  font-size: 15px;
}

.selector select {
  background-color: #ffffff;
  border: 1px solid #dfdfdf;
  padding: 10px;
  width: 50%;
}

.filtrar {
  font-size: 30px;
  border: none;
  background-color: transparent;
}

.fa-filter {
  cursor: pointer;
  color: #ffb555;
}

.datosActualizados {
  grid-area: datosActualizados;
  text-align: right;
  padding: 5px 60px 5px 0;
}

.cotizaciones {
  grid-area: cotizaciones;
  background-color: #f3f3f3;
  border: 1px solid #dfdfdf;
  border-radius: 25px 50px;
  padding: 20px;
  height: 70%;
  display: flex;
  flex-flow: column wrap;
}

.cotizacion {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  min-width: 300px;
}

.moneda {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #ffffff;
  margin: 10px;
  padding: 10px;
  box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.188);
}

.botonFavorito {
  font-size: 30px;
  border: none;
  background-color: transparent;
}

.fa-star {
  color: #c7e0ff;
  cursor: pointer;
}

.pintada {
  color: #2778bf;
}

.botonFavorito:hover {
  background-color: transparent;
}

.botonFavorito:active {
  background-color: transparent;
}

.compraventa {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
}

.compra, .venta {
  text-align: center;
}

.recordatorio {
  grid-area: recordatorio;
  padding: 20px 0 10px 0;
}

.recordatorio strong {
  font-size: 25px;
}

.bibliografia {
  grid-area: biblio;
  display: flex;
  width: 100%;
  justify-content: end;
}

.bibliografia p {
  padding: 6px 3px;
  background-color: #dfdfdf;
}

.bibliografia a {
  padding: 3px;
  border-radius: 5px;
  background-color: #4444d1;
  text-decoration: none;
  color: #ffffff;
}

/*-------- FOOTER ---------*/

footer {
  align-items: center;
  background-color: #abc3ff;
  height: 200px;
  padding: 20px 60px 0px;
  font-size: 12px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: repeat(4, auto);
  grid-template-areas: "institucional accesos contacto desarrollado" ". tup tup .";
}

footer li {
  list-style: none;
}

.footer-link {
  color: black;
}

.footer-link::before {
  content: ">";
}

.institucional {
  display: flex;
  justify-content: center;
  grid-area: institucional;
}

.accesos {
  display: flex;
  justify-content: center;
  grid-area: accesos;
}

.contacto {
  display: flex;
  justify-content: center;
  grid-area: contacto;
}

.desarrollado {
  display: flex;
  justify-content: flex-end;
  grid-area: desarrollado;
}

.tup {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-top: 15px;
  font-style: italic;
  grid-area: tup;
}

/*----------------- PAGE: MI ARCHIVO ------------------*/

.miArchivo {
  background-color: white;
  border-radius: 30px;
  border: 1px solid #2778bf;
  padding: 20px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tabla {
  width: 100%;
  border: 1px solid #000;
  border-radius: 20px;
  background-color: #c7e0ff;
}

.tituloTabla{
  padding: 10px 10px 20px 10px;
}

.tabla tbody{
  background-color: #fff;
  border-radius: 10px;
}

.tabla tbody tr td{
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #ffabab;
}

/*----------------- MEDIA ------------------*/
@media screen and (max-width: 1300px) {
    .cotizaciones {
        flex-flow: column nowrap;
        height: auto;
      }
  }
@media screen and (max-width: 1024px) {
  html {
    margin-left: 50px;
    margin-right: 50px;
  }
  .side-bar {
    font-size: 20px;
  }
  .fa-house,
  .fa-folder,
  .fa-file,
  .fa-address-book {
    padding-right: 15px;
    font-size: 25px;
  }
  .user-icon {
    width: 70px;
  }
}

@media screen and (max-width: 920px) {
  html {
    margin-left: 0px;
    margin-right: 0px;
  }
  .side-bar-links ul li {
    font-size: 10px;
  }
  .fa-house,
  .fa-folder,
  .fa-file,
  .fa-address-book {
    padding-right: 15px;
    font-size: 15px;
  }
  .user-icon {
    width: 50px;
  }
}